.articlebody {
  background-image: url('images/login2new.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.translated {

  // text-overflow: el;
  text-decoration: underline;
  cursor: pointer;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
