.articlebody {
  background-image: url('images/login2new.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.translated {
  text-decoration: underline;
  cursor: pointer;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-color: yellow;
}
