// PARALAX CSS
body {
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
	font-weight: 200;
	font-size: 20px;
}
.parallax-background {
	// background: url('images/home7newest.png') no-repeat center center;
	background: url('images/home7newest.png') no-repeat center center;
	height: 620px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: fixed;
	width: 100%;
}
.intro-text {
	font-size: 50px;
	color: #fff;
	text-align: center;
	margin-top: 15%;
}
.parallax-content {
	max-width: 100%;
	position: relative;
	top: 500px;
	padding: 50px;
	font-size: 20px;
	background-color: #fff;
	opacity: .95;
}
.homeglobe {
	float: left;
	margin-top: -16px;
	width: 2%;
}
.homeglobe:hover {
	transform: scale(1.1);
}
.homearrow {
	width: 3%;
    margin-left: 50%;
	}
/////lOGO HOVER TO TEXT
#logo-holder {
	position: relative;
	width: 992px;
	height: 125px;
	margin-top: -13%;
	margin-left: 3%;
	font-size: 25px;
	/*dimensions of image*/
}
#logo-holder .homeglobe,
#logo-holder .text {
	transition: opacity 0.2s ease-in-out;
}
#logo-holder .text {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
#logo-holder:hover .homeglobe {
	opacity: 0;
}
#logo-holder:hover .text {
	opacity: 1;
}
////BEGIN ONBOARDING CODE
.benefits {
	margin-top: 50px;
	hr {
		width: 70%;
		border: 1px solid #ccc;
	}
	h5 {
		font-weight: 300;
	}
	p {
		color: #666;
		font-weight: 300;
	}
	.benefit {
		margin-top: 30px;
	}
	.icon {
		font-size: 40px;
		color: #ccc;
	}
}
#logoimage {
	width: 25%;
	margin-left: 37%;
	margin-top: 1%;
}
