// GLOBE BUTTON CSS



// PARALAX CSS
body {
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
	font-weight: 200;
	font-size: 20px;
}
.parallax-background {
	// background-color: #0078A0;
	background: url('images/heroimagelogo.png') no-repeat center center;
	// background-size: cover;
	height: 620px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: fixed;
	width: 100%;
}
.intro-text {
	font-size: 50px;
	color: #fff;
	text-align: center;
	margin-top: 15%;
}
.parallax-content {
	max-width: 100%;
	position: relative;
	top: 500px;
	padding: 50px;
	font-size: 20px;
	background-color: #fff;
}
.homeglobe {
	width: 3%;
	float: left;
	// opacity: 0.5;
	margin-top: -13%;
	margin-left: 2%;
}
.homeglobe:hover {
	transform: scale(1.1);
}
.homearrow {
	width: 3%;
	margin-bottom: -42%;
}
