$primary-color: #008CBA;
$secondary-color: #e7e7e7;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;

$selected-color: salmon;

input[data-toggle] {
  display: none;
}

input[data-toggle]:checked + label,
input[data-toggle]:checked + label:active {
  background-color: $selected-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset,
              0 1px 2px rgba(0, 0, 0, 0.05);
}

.button-group.toggle {
  li:not(first-child) {
    margin: 0 -0.9rem;
  }
}
