body {
    // background: #333;
}
.header.panel {
    margin: 3rem auto;
    border: 2px solid #C1E120;
    background: #fff;
    p {
        font: 1.5rem "Avenir Next";
        padding: 1.2rem 2rem 2rem;
        margin-top: -1.25rem;
        #lingo {
            color: #548FCE;
            text-transform: uppercase;
            font-size: 75%;
            font-weight: bold;
        }
    }
    .sign {
        background: #fff;
        width: 150px;
        height: 2.4rem;
        border: 2px solid #C1E120;
        position: relative;
        top: -2.5rem;
        margin: auto;
        font-weight: 400;

        h1 {
            text-transform: uppercase;
            font: bolder 0.875rem "Avenir Next";
            letter-spacing: 3px;
            color: #003366;
            font-size: 70%;
            text-align: center;
            line-height: 2rem;
            background-color: #fff;
            height: 98%;
            // color: #19232E;
        }
    }
}
#description {
    background-color: #003366;
    opacity: 0.95;
}
