.header.panel {
    margin: 3rem auto;
    border: 2px solid #444;
    background: #fff;
    p {
        font: 1.1rem "Avenir Next";
        padding: 1rem 2rem 2rem;
        margin-top: -1.25rem;
        span {
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 75%;
            font-weight: bold;
        }
    }
    .sign {
        background: #fff;
        width: 30%;
        height: 2.4rem;
        border: 2px solid #C1E120;
        position: relative;
        top: -2.5rem;
        margin: auto;
        h1 {
            text-transform: uppercase;
            font: bolder 0.875rem "Avenir Next";
            letter-spacing: 3px;
            color: #003366;
            font-size: 70%;
            text-align: center;
            line-height: 2rem;
        }
    }
}
#languageLevelRowFrench {
  .small-9.small-centered.columns {
    margin-left: 15%;
  }
  .frenchButtons {
    margin-right: 3%;
    &:hover {
    transform: scale(1.1);
    }
  }
}
#languageLevelRowSpanish {
  .small-9.small-centered.columns {
    margin: 0;
    margin-left: 15%;
  }
  .spanishButtons {
    margin-right: 3%;
    &:hover {
    transform: scale(1.1);
    }

  }
}
#topCategoryRow {
  width: 100%;
  margin-bottom: 0%;
}
#bottomCategoryRow {
  width: 100%;
  margin-bottom: 0%;
}
#categoryBoxesArts, #categoryBoxesSports, #categoryBoxesBusiness {
  background-color: #FFF;
  opacity: 0.9;
  margin-right: 2%;
  border-radius: 8%;
}
#categoryBoxesTech {
  background-color: #FFF;
  margin-left: 29.8%;
  margin-bottom: 3%;
  opacity: 0.9;
  margin-right: 2%;
  border-radius: 8%;
}

#categoryBoxesPolitics {
  background-color: #FFF;
  margin-left: 20%;
  opacity: 0.9;
  margin-right: 2%;
  border-radius: 8%;
}
