.prefbody {
  background-image: url('images/login2new.png');
  // background-color: red;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.small-up-5.columns{
  background-color: #FFF;
  box-shadow: transparent;
  opacity: .95;
  width: 93%;
  display: inherit;
  margin-left: 3.5%;
  margin-bottom: 2%;
  .column {
    text-align: center;
    margin-top: 3%;
    }
  .thumbnail {
    max-width: 25%;
    border: none;
    box-shadow: 0 0 0 0;
  }
  h5 {
    color: #003366;
  }
}
.small-3.columns {
  float: right;
}
#newsprefbutton {
  border-radius: 5%;
  background-color: transparent;
  color: #548FCE;
  border: solid 1px #C1E120;
  font-weight: bold;
  width: 56%;
  margin-bottom: 12%;
  margin-top: 15%;
    &:hover {
      transform: scale(1.1);
    }
}
#savebutton {
    font-family: "Avenir Next";
    font-weight: 600;
    border: solid 1.5px #548FCE;
    background-color: transparent;
    color: #003366;
    border-radius: 10%;
    &:hover {
        transform: scale(1.1);
    }
}
