#prefNavMenu {
    margin-bottom: 3%;
}
#titlepref {
    background-color: #FFF;
    border: solid 15px #003366;
    width: 32%;
    margin-left: 34%;
    margin-bottom: 0;
    text-align: center;
    font: bolder 4rem "Avenir Next";
    font-family: "Avenir Next";
    color: #548FCE;
}
.small-up-5.columns {
    box-shadow: transparent;
    opacity: 0.95;
    width: 93%;
    display: inherit;
    margin-bottom: 2%;
    .column {
        text-align: center;
        margin-top: 3%;
        border: solid 1px #548FCE;
        background-color: #fff;
        border-radius: 3%;
        padding: 2%;
        margin-right: 1%;
    }
    .thumbnail {
        max-width: 25%;
        border: none;
        box-shadow: 0 0 0 0;
    }
    h5 {
        font-size: 1.8rem;
        color: #003366;
    }
}
#newsprefbutton {
    background-color: #003366;
    color: #FFF;
    border: solid 1px #C1E120;
    margin-bottom: 12%;
    margin-top: 15%;
    padding: 3%;
    border-radius: 10%;
    &:hover {
        transform: scale(1.1);
    }
}
#savePreferences {
    border: solid 1px #548FCE;
    font-size: 41px;
    padding: 4px;
    color: #003366;
    &:hover {
        border-color: #C1E120;
    }
}
.saveButton {
    text-align: center;
    padding-bottom: 2%;
    padding-top: 2%;
    &:hover {
        transform: scale(1.1);
    }
}
#prefSaveBold {
    color: #C1E120;
}
#languageinstructions,
#topicinstructions {
    background-color: #003366;
    opacity: 0.95;
    margin-top: 0;
    width: 81%;
    margin-left: 9%;
    margin-bottom: 3%;
}
.languageselector {
    background-color: #FFF;
    opacity: 0.95;
    height: 300px;
}
#languageSelectorRow {
    margin-top: 2%;
}
.button-group.round.toggle {
    display: inline-flex;
    margin-left: 0;
    #languageButtonLabel {
        color: #FFF;
        background-color: #003366;
        border: #548FCE solid 3px;
        border-radius: 10%;
    }
}
