@media only screen and (min-width: 1900px) {
    .parallax-content {
        top: 618px;
    }
    .service-heading {
        font-size: 2.6rem;
        font-weight: 600;
    }
    .service-icon {
        margin-top: -43%;
        width: 100%;
    }
    .content {
        margin-top: 5%;
        font-size: 4.3rem;
        h2 {
            font-size: 4.3rem;
        }
        span {
            font-size: 4.3rem;
        }
    }
    #description {
        margin-bottom: 5%;
    }
    #signinbutton {
        width: 37%;
        font-size: 1.1rem;
    }
    #registerbutton {
        width: 40%;
        font-size: 1.1rem;
    }
    #homefooter {
        width: 20%;
        margin-top: 9%;
    }
    .menu {
        font-size: 1.9rem;
    }
    .header.panel {
        p {
            font: 2.3rem "Avenir Next";
        }
        .sign h1 {
            padding: 1%;
        }
        .sign {
            width: 21%;
        }
    }
}
