
<!-- BEGIN PARALAX HOMEPAGE CODE -->

<div class="parallax-background">
  <!-- Begin code for globe menu  -->
  <!-- <a href="#" data-reveal-id="myModal" class="button">Launch Signup Modal</a>

  <div id="myModal" class="reveal-modal remove-whitespace" data-reveal>
  <div class="row">
      <div class="large-6 columns auth-plain">
        <div class="signup-panel left-solid">
          <p class="welcome">Registered Users</p>
          <form>
            <div class="row collapse">
              <div class="small-2  columns">
                <span class="prefix"><i class="fi-torso-female"></i></span>
              </div>
              <div class="small-10  columns">
                <input type="text" placeholder="username">
              </div>
            </div>
            <div class="row collapse">
              <div class="small-2 columns ">
                <span class="prefix"><i class="fi-lock"></i></span>
              </div>
              <div class="small-10 columns ">
                <input type="text" placeholder="password">
              </div>
            </div>
          </form>
          <a href="#" class="button ">Log In </a>
        </div>
      </div>

      <div class="large-6 columns auth-plain">
      	<div class="signup-panel newusers">
      		<p class="welcome"> New User?</p>
      		<p>By creating an account with us, you will be able to move through the checkout process faster, view and track your orders, and more.</p><br>
      		<a href="#" class="button ">Sign Up</a></br>
      	</div>
      </div>

     </div>
    <a class="close-reveal-modal">&#215;</a>
  </div> -->
  <!-- END GLOBE MENU CODE -->
    <div class="intro-text">
        scroll for parallax!
        <p><i class="fi-arrow-down"></i></p>
    </div>
</div>

<div class="parallax-content">
    <p>Bacon ipsum dolor sit amet chicken pork loin hamburger ball tip, swine tenderloin salami meatball boudin tri-tip fatback shank bacon. Pork salami kevin, brisket spare ribs strip steak ham hock porchetta. Pork belly short loin tail porchetta. Pork
        pig meatball, beef ribs doner jerky tri-tip hamburger filet mignon strip steak ball tip ham tail tongue corned beef.</p>

    <p>Flank spare ribs capicola, strip steak biltong pancetta bresaola tri-tip cow landjaeger. Short ribs sirloin beef ribs, flank capicola ribeye turducken. Sirloin boudin andouille tail. Ham flank tail sausage t-bone, jerky landjaeger kevin porchetta
        ground round pork belly.</p>

    <p>Pork loin doner biltong shoulder meatball flank. Sirloin shankle ground round tail, short loin prosciutto beef ribs salami pork pancetta kielbasa. Brisket spare ribs jerky filet mignon flank. Turducken ham sausage pork loin salami. Ball tip meatloaf
        shank pancetta hamburger meatball. Jowl beef pork loin tenderloin turducken, pastrami capicola filet mignon ham hock pork belly t-bone jerky ball tip kevin.</p>

    <p>Filet mignon shank pastrami pork loin ham jerky corned beef chuck drumstick ribeye prosciutto pork belly tail. Beef leberkas brisket ham hock tenderloin tail tri-tip pork chop. Corned beef boudin andouille tail fatback chicken strip steak biltong
        pancetta pork loin tri-tip landjaeger pastrami kevin. Tongue spare ribs kevin ribeye shoulder swine.</p>

    <p>Chicken kielbasa swine ham hock filet mignon strip steak bacon fatback pork t-bone. Ground round shankle tongue, jowl flank spare ribs beef leberkas ham boudin shank capicola short ribs. Drumstick pork loin turkey pork chop salami andouille pork belly.
        Short loin tongue tri-tip, hamburger filet mignon pastrami doner shoulder turkey ball tip t-bone jerky ham chicken.</p>

    <p>Ground round flank pork loin salami, cow biltong hamburger swine brisket tongue tenderloin drumstick meatball. Biltong tongue salami ham shankle, leberkas meatloaf sirloin ball tip. Pork loin pastrami spare ribs beef capicola sausage kevin filet mignon
        pork chop. Bacon jerky turkey shoulder cow capicola ball tip shank. Ham tongue tail tri-tip kielbasa ham hock frankfurter meatball cow brisket. Shankle sausage filet mignon biltong pork loin. Short ribs spare ribs chuck pig meatloaf shoulder cow
        tail brisket biltong ball tip ham hock.</p>

<!-- BEGIN FOOTER HTML -->

        <footer class="footer">
            <div class="row full-width">
                <div class="small-12 medium-3 large-4 columns">
                    <i class="fi-laptop"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum maiores alias ea sunt facilis impedit fuga dignissimos illo quaerat iure in nobis id quos, eaque nostrum! Unde, voluptates suscipit repudiandae!</p>
                </div>
                <div class="small-12 medium-3 large-4 columns">
                    <i class="fi-html5"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit impedit consequuntur at! Amet sed itaque nostrum, distinctio eveniet odio, id ipsam fuga quam minima cumque nobis veniam voluptates deserunt!</p>
                </div>
                <div class="small-6 medium-3 large-2 columns">
                    <h4>Work With Me</h4>
                    <ul class="footer-links">
                        <li><a href="#">What I Do</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">FAQ's</a></li>
                        <ul>
                </div>
                <div class="small-6 medium-3 large-2 columns">
                    <h4>Follow Me</h4>
                    <ul class="footer-links">
                        <li><a href="#">GitHub</a></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">Dribbble</a></li>
                        <ul>
                </div>
            </div>
        </footer>

</div>
