

<!-- BEGIN PARALAX HOMEPAGE CODE -->

<div class="parallax-background">
  <!-- TOP NAV -->

  <!-- Begin code for globe menu  -->

  <!-- END GLOBE MENU CODE -->
    <div class="intro-text">
      <div id="logo-holder">
        <a href="#login"><img src="images/O(white).png" alt="earth" class="homeglobe" /></a>
    <div class="text">Sign In</div>
  </div>
      <img src="images/arrow.png" alt="arrow" class="homearrow" />
    </div>
</div>

<div class="parallax-content">
    <p>Lingo has created a way for our users to enhance their language skills while reading the news. As a member of Lingo, you will be able to ready partially translated articles in the language of your choice. Based on the frequency of your visits to Lingo, we'll increase the dificulty of the words that are translated. </p>

<!-- BEGIN ONBOARDING SECTION -->

    </div>
  </div>
  <div class="row">
    <div class="small-12 large-4 columns benefit">
      <i class="fi-map icon"></i>
      <h5> Shop anywhere, anytime </h5>
      <hr>
      <p>Cupcake ipsum dolor sit. Amet I love liquorice jujubes pudding croissant I love pudding. Apple pie macaroon toffee jujubes pie tart.  </p>
    </div>
    <div class="small-12 large-4 columns benefit">
      <i class="fi-shopping-cart icon"></i>
      <h5> All your favorite brands</h5>
      <hr>
      <p>Cupcake ipsum dolor sit. Amet I love liquorice jujubes pudding croissant I love pudding. Apple pie macaroon toffee jujubes pie tart.  </p>
    </div>
    <div class="small-12 large-4 columns benefit">
      <i class="fi-trophy icon"></i>
      <h5> Get rewards &amp; points</h5>
      <hr>
      <p>Cupcake ipsum dolor sit. Amet I love liquorice jujubes pudding croissant I love pudding. Apple pie macaroon toffee jujubes pie tart.  </p>
    </div>
  </div>
</section>



<!-- END ONBOARDING SECTION -->

<!-- BEGIN FOOTER HTML -->

        <footer class="footer">
            <div class="row full-width">
                <div class="small-12 medium-3 large-4 columns">
                    <i class="fi-laptop"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum maiores alias ea sunt facilis impedit fuga dignissimos illo quaerat iure in nobis id quos, eaque nostrum! Unde, voluptates suscipit repudiandae!</p>
                </div>
                <div class="small-12 medium-3 large-4 columns">
                    <i class="fi-html5"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit impedit consequuntur at! Amet sed itaque nostrum, distinctio eveniet odio, id ipsam fuga quam minima cumque nobis veniam voluptates deserunt!</p>
                </div>
                <div class="small-6 medium-3 large-2 columns">
                    <h4>Want to learn more?</h4>
                    <ul class="footer-links">
                        <li><a href="#team">Meet The Team</a></li>
                        <ul>
                </div>

            </div>
        </footer>

</div>
