<!-- BEGIN PARALAX HOMEPAGE CODE -->

<div class="parallax-background">
    <!-- TOP NAV -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

    <nav class="menu">
        <a href="#login"><img src="images/O(white).png" alt="earth" class="homeglobe" /></a>
        <ul class="inline-list">
        </ul>
        <ul class="inline-list hide-for-small-only account-action">
            <li><a href="#login" data-reveal-id="myModal">Register</a></li>
            <li class=""><a class="signup" href="#login" data-reveal-id="myModal">Login</a></li>
        </ul>

    </nav>

    <!-- modal content -->
    <img src="images/lingowhite.png" id="logoimage" alt="" />

    <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="login or sign up" aria-hidden="true" role="dialog">
        <div class="row">
        </div>
    </div>
    <img src="images/arrow.png" alt="arrow" class="homearrow" />

    <!-- Begin code for globe menu  -->

    <!-- END GLOBE MENU CODE -->
    <div class="intro-text">
    </div>
</div>

<div class="parallax-content">

    <div class="row" id="description">
        <div class="small-12 medium-10 large-12 large-centered columns">

            <div class="header panel">
                <div class="sign">
                    <h1>Who We Are</h1>
                </div>
                <p><span id="lingo">Lingo</span> has created a way for our users to enhance their language skills while reading the news. As a member of Lingo you will be able to read partially translated articles in either Spanish or French. The best part about Lingo is that it puts learning a new language in real world context so that our users can ultimately start reading in a second language. The more you Lingo, the more you learn!</p>
            </div>

        </div>
    </div>


    <!-- BEGIN ONBOARDING SECTION -->
    <br />
    <br />

    <div class="row" id="onboarding">
        <div class="small-4 columns">

            <div class="service">
                <div class="service-icon-box">
                    <img src="images/monitor.png" alt="" class="service-icon">
                </div>
                <h4 class="service-heading">How to get started</h4>
                <p class="service-description">Using Lingo is easy! Simply log-in or register for an account, then choose your preferences. On the preferences page, you'll be asked to choose Spanish or French and one or all of a variety of news topics.  </p>
            </div>

        </div>
        <div class="small-4 columns">

            <div class="service">
                <div class="service-icon-box">
                    <img src="images/light-bulb(2).png" alt="" class="service-icon">

                </div>
                <h4 class="service-heading">What to expect</h4>
                <p class="service-description">Lingo will show you partially translated articles based on your preferences. Get stuck on a word? Just hover over the word and we'll show you the English translation.</p>
            </div>

        </div>
        <div class="small-4 columns">

            <div class="service">
                <div class="service-icon-box">
                    <img src="images/chat.png" alt="" class="service-icon">

                </div>
                <h4 class="service-heading">Learn with Lingo</h4>
                <p class="service-description">At Lingo, we realize that everyone learns at their own pace. If articles are getting too easy, simply update your preferences to the next language level!</p>
            </div>

        </div>

    </div>

    <!-- BEGIN GET STARTED  -->

    <div class="bg-skew-contact">
        <div class="content">
            <form class="contact">
                <h2>Ready to lin<span id="go">GO?<span></h2>
                <div class="getstartedbutton">
                    <button href="#login" class="small button primary radius" id="signinbutton"><a href="#login">Sign In</a></button>
                    <button href="#login" class="small button success radius" id="registerbutton"><a href="#login">Register</a></button>
                </div>
            </form>
        </div>
    </div>


    <!--  END GET STARTED-->
    <!-- BEGIN FOOTER HTML -->

    <footer class="footer">
        <div class="row">
            <div class="small-12 columns">
                <img src="images/O(white).png" alt="" id="homefooter" />
                <p class="links">
                    <a href="#home">Home</a>
                    <a href="#team">Meet The Team</a>
                </p>
                <p class="copywrite">The Iron Yard © 2016</p>
            </div>
        </div>
    </footer>
</div>
