<!-- NAV BAR -->
<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

<nav class="menu">
    <h1 class="name"><i class="fi-widget"></i><a href="#home">lingo</a></h1>

    <ul class="inline-list hide-for-small-only account-action">
        <li class=""><a class="signup" href="#home" data-reveal-id="myModal">Home</a></li>
    </ul>

</nav>

<!-- modal content -->

<div id="myModal" class="reveal-modal" data-reveal aria-labelledby="login or sign up" aria-hidden="true" role="dialog">

<!-- END NAV BAR -->

<!-- this adds Foundation Icon Fonts!! -->
<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

<div class="row">
    <div class="medium-6 columns">
        <div class="box">
            <div class="box-icon">
                <span class="fi-widget"></span>
            </div>
            <div class="info">
                <h4 class="text-center">Settings</h4>
                <!-- <ul class="tg-list">
                  <li class="tg-list-item">
                    <h4>Tech</h4>
                    <input ng-Model="userPrefObj" id="cb5" section="checkbox" class="tgl tgl-flip" />
                    <label value="prefCategory.technology" ng-click="pref(technology)" data-tg-off="Nope" data-tg-on="Yeah!" for="cb5" class="tgl-btn"></label>
                  </li>
                  <hr/>
                </ul> -->

                <input section="text" ng-model="UserPrefences.language">



                <!-- toggle our values of our user Object -->
                <div class="preferences">


                <div ng-if="UserPrefences.technology">
                    Technology:
                    <button ng-click="turnOffTech()">OFF</button>
                </div>
                <div ng-if="!UserPrefences.technology">
                    Technology:
                    <button ng-click="turnOnTech()">ON</button>
                </div>
                <div ng-if="UserPrefences.business">Business:
                    <button ng-click="turnOffBus()">OFF</button>
                </div>
                <div ng-if="!UserPrefences.business">Business:
                    <button ng-click="turnOnBus()">ON</button>
                </div>
                <div ng-if="UserPrefences.politics">Politics:
                    <button ng-click="turnOffPol()">OFF</button>
                </div>
                <div ng-if="!UserPrefences.politics">Politics:
                    <button ng-click="turnOnPol()">ON</button>
                </div>
                <div ng-if="UserPrefences.arts">Arts:
                    <button ng-click="turnOffArts()">OFF</button>
                </div>
                <div ng-if="!UserPrefences.arts">Arts:
                    <button ng-click="turnOnArts()">ON</button>
                </div>
                <div ng-if="UserPrefences.sports">Sports:
                    <button ng-click="turnOffSports()">OFF</button>
                </div>
                <div ng-if="!UserPrefences.sports">Sports:
                    <button ng-click="turnOnSports()">ON</button>
                </div>
                </div>
                <!-- <button ng-click="logObj()">log</button> -->
                <a href="#news" ng-click='savePref()' class="button">Update</a>
            </div>
        </div>

    </div>
</div>

<!-- BEGIN FOOTER  -->


<footer class="footer">
  <div class="row">
    <div class="small-12 columns">
      <p class="slogan">lingo</p>
      <p class="links">
        <a href="#home">Home</a>
        <a href="#">Blog</a>
        <a href="#team">Meet The Team</a>
      </p>
      <p class="copywrite">The Iron Yard © 2016</p>
    </div>
  </div>
</footer>
