<!-- this adds Foundation Icon Fonts!! -->
   <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
<!-- NAV -->
   <nav class="menu">
       <a href="#home"><img src="images/O(white).png" alt="earth" class="homeglobe" /></a>
       <ul class="inline-list">
       </ul>
       <ul class="inline-list hide-for-small-only account-action">
           <li class=""><a class="signup" href="#home" data-reveal-id="myModal">Home</a></li>
       </ul>

   </nav>

   <div class="row" id="teamboxes">
     <div class="medium-3 columns">
       <div class="profile-card">
         <img src="images/gabe.jpg" alt="Gabriel Brickle">
         <div class="profile-info">
           <h4 class="subheader">Gabriel Brickle</h4>
           <h5>Front End Engineer</h5>
           <p>Saleswoman turned engineer doing what I love: developement.</p>
           <a href="http://gabrielbrickle.com" id="portlink">Portfolio</a>
           <ul class="inline-list" id="linkstoprof">
             <li><a href="https://github.com/gabrielbrickle"><i class="fi-social-github"></i></a></li>
             <li><a href="https://www.linkedin.com/in/gabriel-brickle-aa842b4a
"><i class="fi-social-linkedin"></i></a></li>
             <li><a href="https://twitter.com/gabrielbrickle"><i class="fi-social-twitter"></i></a></li>
         </div>
       </div>
     </div>
     <div class="medium-3 columns">
       <div class="profile-card">
         <img src="images/Amanda.jpg" alt="Amanda Schuff">
         <div class="profile-info">
           <h4 class="subheader">Amanda Schuff</h4>
           <h5>Front End Engineer</h5>
           <p>From Art teacher to developer, I have a passion for /design/ and {code}.</p>
           <a href="http://zurb.com/ink/" id="portlink">Portfolio</a>
           <ul class="inline-list" id="linkstoprof">
             <li><a href="https://github.com/aschuff"><i class="fi-social-github"></i></a></li>
             <li><a href="https://www.linkedin.com/in/aschuff"><i class="fi-social-linkedin"></i></a></li>
             <li><a href="https://twitter.com/aschuff15"><i class="fi-social-twitter"></i></a></li>
         </div>
       </div>
     </div>
     <div class="medium-3 columns">
       <div class="profile-card">
         <img src="images/JohnCrooks.jpg" alt="John Crooks">
         <div class="profile-info">
           <h4 class="subheader">John Crooks</h4>
           <h5>Back End Engineer</h5>
           <p>“Marine Biologist turned Java Engineer, I'm ready to make a splash in the development world."</p>
           <a href="http://foundation.zurb.com/" id="portlink">Portfolio</a>
           <ul class="inline-list" id="linkstoprof">
             <li><a href="https://github.com"><i class="fi-social-github"></i></a></li>
             <li><a href="https://www.linkedin.com"><i class="fi-social-linkedin"></i></a></li>
             <li><a href="https://twitter.com"><i class="fi-social-twitter"></i></a></li>
         </div>
       </div>
     </div>
     <div class="medium-3 columns">
       <div class="profile-card">
         <img src="images/JonGunnells.jpg" alt="Jon Gunnells">
         <div class="profile-info">
           <h4 class="subheader">Jon Gunnells</h4>
           <h5>Back End Engineer</h5>
           <p>“Never trust a computer you cant throw out of a window” -Steve Wozniak</p>
           <a href="http://foundation.zurb.com/apps/" id="portlink">Portfolio</a>
           <ul class="inline-list" id="linkstoprof">
             <li><a href="https://github.com"><i class="fi-social-github"></i></a></li>
             <li><a href="https://www.linkedin.com"><i class="fi-social-linkedin"></i></a></li>
             <li><a href="https://twitter.com"><i class="fi-social-twitter"></i></a></li>
           </ul>
         </div>
       </div>
     </div>
   </div>
<!-- FOOTER -->
   <footer class="footer">
       <div class="row">
           <div class="small-12 columns">
               <img src="images/O(white).png" alt="" id="homefooter" />
               <p class="links">
                   <a href="#login">Sign In</a>
                   <a href="#home">Sign Out</a>
               </p>
               <p class="copywrite">The Iron Yard © 2016</p>
           </div>
       </div>
   </footer>
