<!-- this adds Foundation Icon Fonts!! -->
   <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

   <div class="row">
     <div class="medium-3 columns">
       <div class="profile-card">
         <img src="public/images/GabrielBrickle.jpg" alt="Gabriel Brickle">
         <div class="profile-info">
           <h4 class="subheader">Gabriel Brickle</h4>
           <h5>Front End Engineer</h5>
           <p><strong>Used in a scentence -</strong> Yo man, Foundation for Emails is so inky. Coding emails doesn't suck anymore!</p>
           <a href="http://zurb.com/ink/">Portfolio</a>
           <ul class="inline-list">
             <li><a href="https://github.com"><i class="fi-social-github"></i></a></li>
             <li><a href="https://www.linkedin.com"><i class="fi-social-linkedin"></i></a></li>
             <li><a href="https://twitter.com"><i class="fi-social-twitter"></i></a></li>
         </div>
       </div>
     </div>
     <div class="medium-3 columns">
       <div class="profile-card">
         <img src="public/images/Amanda.jpg" alt="Amanda Schuff">
         <div class="profile-info">
           <h4 class="subheader">Amanda Schuff</h4>
           <h5>Front End Engineer</h5>
           <p><strong>Used in a scentence -</strong> Yo man, Foundation for Emails is so inky. Coding emails doesn't suck anymore!</p>
           <a href="http://zurb.com/ink/">Portfolio</a>
           <ul class="inline-list">
             <li><a href="https://github.com/aschuff"><i class="fi-social-github"></i></a></li>
             <li><a href="https://www.linkedin.com/in/aschuff"><i class="fi-social-linkedin"></i></a></li>
             <li><a href="https://twitter.com/aschuff15"><i class="fi-social-twitter"></i></a></li>
         </div>
       </div>
     </div>
     <div class="medium-3 columns">
       <div class="profile-card">
         <img src="public/images/JohnCrooks.jpg" alt="John Crooks">
         <div class="profile-info">
           <h4 class="subheader">John Crooks</h4>
           <h5>Back End Engineer</h5>
           <p><strong>Used in a scentence - </strong>those tru gangstas from way back in the day that jacked ya and left nothing but you boxers and socks.</p>
           <a href="http://foundation.zurb.com/">Portfolio</a>
           <ul class="inline-list">
             <li><a href="https://github.com"><i class="fi-social-github"></i></a></li>
             <li><a href="https://www.linkedin.com"><i class="fi-social-linkedin"></i></a></li>
             <li><a href="https://twitter.com"><i class="fi-social-twitter"></i></a></li>
         </div>
       </div>
     </div>
     <div class="medium-3 columns">
       <div class="profile-card">
         <img src="public/images/JonGunnels.jpg" alt="Jon Gunnells">
         <div class="profile-info">
           <h4 class="subheader">Jon Gunells</h4>
           <h5>Back End Engineer</h5>
           <p><strong>Used in a scentence -</strong> Yo, after a couple months at the Y, I'll be a swoll Yeti. I'm so happy this page is almost done.</p>
           <a href="http://foundation.zurb.com/apps/">Portfolio</a>
           <ul class="inline-list">
             <li><a href="https://github.com"><i class="fi-social-github"></i></a></li>
             <li><a href="https://www.linkedin.com"><i class="fi-social-linkedin"></i></a></li>
             <li><a href="https://twitter.com"><i class="fi-social-twitter"></i></a></li>
           </ul>
         </div>
       </div>
     </div>
   </div>
