@charset "UTF-8";
body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
  font-weight: 200;
  font-size: 20px; }

.parallax-background {
  background: url("images/home7newest.jpg") no-repeat center center;
  height: 620px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  width: 100%; }

.intro-text {
  font-size: 50px;
  color: #fff;
  text-align: center;
  margin-top: 15%; }

.parallax-content {
  max-width: 100%;
  position: relative;
  top: 500px;
  padding: 50px;
  font-size: 20px;
  background-color: #fff;
  opacity: .95; }

.homeglobe {
  float: left;
  margin-top: -16px;
  width: 2%; }

.homeglobe:hover {
  transform: scale(1.1); }

.homearrow {
  width: 3%;
  margin-left: 50%; }

#logo-holder {
  position: relative;
  width: 992px;
  height: 125px;
  margin-top: -13%;
  margin-left: 3%;
  font-size: 25px;
  /*dimensions of image*/ }

#logo-holder .homeglobe,
#logo-holder .text {
  transition: opacity 0.2s ease-in-out; }

#logo-holder .text {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; }

#logo-holder:hover .homeglobe {
  opacity: 0; }

#logo-holder:hover .text {
  opacity: 1; }

.benefits {
  margin-top: 50px; }
  .benefits hr {
    width: 70%;
    border: 1px solid #ccc; }
  .benefits h5 {
    font-weight: 300; }
  .benefits p {
    font-weight: 300; }
  .benefits .benefit {
    margin-top: 30px; }
  .benefits .icon {
    font-size: 40px;
    color: #ccc; }

#logoimage {
  width: 25%;
  margin-left: 37%;
  margin-top: -4%; }

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important; }

#loginForm {
  margin-left: 13%; }

.signup-panel {
  padding: 15px;
  margin: 0 auto;
  background-color: #003366;
  opacity: .91;
  border-radius: 20px; }
  .signup-panel i.fi-lock {
    margin-right: 74%; }
  .signup-panel i {
    font-size: 30px;
    line-height: 50px;
    color: #FFF; }
  .signup-panel form input, .signup-panel form span {
    height: 40px;
    text-align: center;
    color: black;
    width: 100%; }
  .signup-panel form .row.collapse {
    margin-left: 18%;
    margin-top: 2%; }
  .signup-panel .small-2.columns {
    margin-bottom: 5%; }
  .signup-panel .welcome {
    font-size: 26px;
    text-align: center;
    margin-left: 0; }
    .signup-panel .welcome img {
      max-width: 20%; }
  .signup-panel p {
    font-size: 13px;
    font-weight: 200;
    margin-left: 25%; }

#loginPageButtons.button-group {
  position: relative;
  display: inline-block;
  margin-left: 33%; }
  #loginPageButtons.button-group .button {
    font-size: 12px; }
  #loginPageButtons.button-group .small.button.primary.radius {
    color: #fefefe;
    background-color: transparent;
    border: solid #548FCE 1px;
    border-radius: 10%;
    font-weight: bold; }
    #loginPageButtons.button-group .small.button.primary.radius:hover {
      transform: scale(1.1); }
  #loginPageButtons.button-group .small.button.success.radius {
    border-radius: 10%;
    border: solid #C1E120 1px;
    background-color: transparent;
    margin-left: 16px;
    font-weight: bold; }
    #loginPageButtons.button-group .small.button.success.radius:hover {
      transform: scale(1.1); }

.small-6.large-centered.columns {
  margin: 0 auto;
  color: white;
  height: 500px; }

#prefNavMenu {
  margin-bottom: 3%; }

#titlepref {
  background-color: #FFF;
  border: solid 15px #003366;
  width: 32%;
  margin-left: 34%;
  margin-bottom: 0%;
  text-align: center;
  font: bolder 4rem "Avenir Next";
  font-family: "Avenir Next";
  color: #548FCE; }

.small-up-5.columns {
  box-shadow: transparent;
  opacity: 0.95;
  width: 93%;
  display: inherit;
  margin-bottom: 2%; }
  .small-up-5.columns .column {
    text-align: center;
    margin-top: 3%;
    border: solid 1px #548FCE;
    background-color: #fff;
    border-radius: 3%;
    padding: 2%;
    margin-right: 1%; }
  .small-up-5.columns .thumbnail {
    max-width: 25%;
    border: none;
    box-shadow: 0 0 0 0; }
  .small-up-5.columns h5 {
    font-size: 1.8rem;
    color: #FFF; }

#newsprefbutton {
  background-color: #003366;
  color: #FFF;
  border: solid 1px #C1E120;
  margin-bottom: 12%;
  margin-top: 15%;
  padding: 3%;
  border-radius: 10%; }
  #newsprefbutton:hover {
    transform: scale(1.1); }

#savePreferences {
  border: solid 1px #548FCE;
  font-size: 41px;
  padding: 4px;
  color: #003366; }
  #savePreferences:hover {
    border-color: #C1E120; }

.saveButton {
  text-align: center;
  padding-bottom: 2%;
  padding-top: 2%; }
  .saveButton:hover {
    transform: scale(1.1); }

#prefSaveBold {
  color: #C1E120; }

#languageinstructions,
#topicinstructions {
  width: 100%;
  background-color: #003366;
  opacity: 0.95;
  margin-top: 0%; }

.languageselector {
  background-color: #FFF;
  opacity: .95;
  height: 300px; }

#languageSelectorRow {
  margin-top: 2%; }

.button-group.round.toggle {
  display: inline-flex;
  margin-left: 0; }
  .button-group.round.toggle #languageButtonLabel {
    color: #FFF;
    background-color: #003366;
    border: #548FCE solid 3px;
    border-radius: 10%; }

.header.panel {
  margin: 3rem auto;
  border: 2px solid #444;
  background: #fff;
  padding: 10px; }
  .header.panel p {
    font: 1rem "Avenir Next";
    padding: 1rem 2rem 2rem;
    margin-top: -1.25rem; }
    .header.panel p span {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 75%;
      font-weight: bold; }
  .header.panel .sign {
    background: #fff;
    height: 2.4rem;
    border: 2px solid #C1E120;
    position: relative;
    top: -2.5rem;
    margin: auto; }
    .header.panel .sign h1 {
      text-transform: uppercase;
      font: bolder 0.875rem "Avenir Next";
      letter-spacing: 3px;
      color: #003366;
      font-size: 70%;
      text-align: center;
      line-height: 2rem; }

.header {
  text-align: center;
  background: url("images/heroimage.png") no-repeat center center;
  background-size: cover;
  padding: 4rem; }
  .header .main-header {
    color: #003366; }
  .header img {
    max-width: 10%; }

#articleMenuNav {
  background-color: #003366;
  border-bottom: #C1E120 solid 1px;
  padding: 1.5rem 3rem;
  height: auto; }
  #articleMenuNav .inline-list {
    text-align: center; }
    #articleMenuNav .inline-list li {
      float: none;
      display: inline-block; }
    #articleMenuNav .inline-list a {
      color: #fff;
      padding-bottom: 0.5rem; }
      #articleMenuNav .inline-list a:hover {
        color: #C1E120;
        transition: all .3s ease-in-out; }
    #articleMenuNav .inline-list .active a {
      color: #C1E120; }
  #articleMenuNav .account {
    position: absolute;
    top: 3%;
    right: 3%; }
    #articleMenuNav .account a, #articleMenuNav .account i {
      color: #fff; }
  @media only screen and (min-width: 40.063em) {
    #articleMenuNav {
      height: 5rem; }
      #articleMenuNav .inline-list {
        float: left;
        margin: 0 0 0 1.5rem; }
      #articleMenuNav a:hover {
        border-bottom: 2px solid #C1E120; } }
  #articleMenuNav .account-action {
    float: right;
    margin: -.75rem 0 0 0; }
    #articleMenuNav .account-action li {
      margin-left: .2rem; }
    #articleMenuNav .account-action a {
      padding: 0.75rem 1rem; }
    #articleMenuNav .account-action a.signup {
      font-weight: bold;
      background-color: transparent;
      border: solid 1px #C1E120; }

.header-subnav {
  float: none;
  position: relative;
  top: 4rem;
  text-align: center;
  margin-bottom: 0; }
  .header-subnav li {
    float: none;
    display: inline-block; }
    .header-subnav li a {
      padding: 0.9rem 1rem 0.75rem;
      font-size: 0.875rem;
      color: #fff;
      text-transform: uppercase;
      display: block;
      font-weight: bold;
      letter-spacing: 1px; }
      .header-subnav li a.is-active {
        background: rgba(250, 250, 250, 0.7);
        color: #333; }
      .header-subnav li a:hover {
        background: rgba(250, 250, 250, 0.7);
        color: #333;
        transition: all 0.25s ease-in-out; }

#articleRow {
  margin-top: 1%; }

.pagination {
  display: -webkit-inline-box; }

@media only screen and (min-width: 40em) {
  .top-bar {
    text-align: center; }
  ul.center-buttons {
    display: inline-block; }
  .logo {
    left: 5px;
    top: -2px;
    position: absolute; } }

.logo {
  max-width: 2rem;
  margin-top: -3px;
  margin-left: 5px; }

.menu-icon {
  padding-top: 1.2rem; }

.top-bar.expanded {
  background: #333333; }

.hero {
  background: url("http://static.pexels.com/wp-content/uploads/2014/07/beach-coast-holiday-2190-825x550.jpg") no-repeat center center;
  background-size: cover;
  height: 50vh;
  overflow: hidden; }
  .hero h1 {
    color: #fff;
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

#articlesFooter {
  text-align: center;
  font-size: 1.2rem;
  padding: 4rem; }
  #articlesFooter p.slogan {
    color: #8d9093;
    font-size: 1.8rem;
    margin: 0 0 1rem; }
  #articlesFooter p.copywrite {
    color: #8f9296;
    font-size: 0.875rem;
    margin: 0; }
  #articlesFooter .links a {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 3rem 0 2rem;
    margin: 0; }
    #articlesFooter .links a::after {
      content: "•";
      padding: 0 0.4rem 0 0.8rem; }
    #articlesFooter .links a:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem; }

#articlesview {
  margin-top: 2%;
  background-color: white;
  margin-left: 5%;
  margin-right: 5%; }

#author {
  color: #000; }

.profile-card {
  padding: 1rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 2rem 0;
  background-color: #fff;
  opacity: .89; }
  .profile-card img {
    width: 8rem;
    display: block;
    margin: 2rem auto;
    text-align: center;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #888888; }
  .profile-card .profile-info {
    padding: 1rem; }
    .profile-card .profile-info h4 {
      margin-top: 0;
      text-align: center;
      text-transform: uppercase; }
    .profile-card .profile-info h5 {
      text-align: center; }
    .profile-card .profile-info a {
      text-align: center;
      margin-left: 38%; }
    .profile-card .profile-info p {
      text-align: center; }
    .profile-card .profile-info .inline-list {
      text-align: center;
      margin-bottom: 1rem; }
      .profile-card .profile-info .inline-list li {
        float: none;
        display: inline-block; }
      .profile-card .profile-info .inline-list i.fi-social-facebook {
        font-size: 1.5rem;
        color: #3b5998; }
        .profile-card .profile-info .inline-list i.fi-social-facebook:hover {
          transform: scale(1.5);
          transition: all .5s ease-in-out; }
      .profile-card .profile-info .inline-list i.fi-social-twitter {
        font-size: 1.5rem;
        color: #55acee; }
        .profile-card .profile-info .inline-list i.fi-social-twitter:hover {
          transform: scale(1.5);
          transition: all .5s ease-in-out; }
      .profile-card .profile-info .inline-list i.fi-social-linkedin {
        font-size: 1.5rem;
        color: #0077b5; }
        .profile-card .profile-info .inline-list i.fi-social-linkedin:hover {
          transform: scale(1.5);
          transition: all .5s ease-in-out; }
      .profile-card .profile-info .inline-list i.fi-social-github {
        font-size: 1.5rem;
        color: #333; }
        .profile-card .profile-info .inline-list i.fi-social-github:hover {
          transform: scale(1.5);
          transition: all .5s ease-in-out; }
      .profile-card .profile-info .inline-list i.fi-social-youtube {
        font-size: 1.5rem;
        color: #cc181e; }
        .profile-card .profile-info .inline-list i.fi-social-youtube:hover {
          transform: scale(1.5);
          transition: all .5s ease-in-out; }

.hero {
  background: url("http://static.pexels.com/wp-content/uploads/2014/07/beach-coast-holiday-2190-825x550.jpg") no-repeat center center;
  background-size: cover;
  height: 50vh;
  overflow: hidden; }
  .hero h1 {
    color: #fff;
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.footer {
  background-color: #003366;
  opacity: .95;
  text-align: center;
  font-size: 1.2rem;
  padding: 4rem; }
  .footer p.slogan {
    color: #8d9093;
    font-size: 1.8rem;
    margin: 0 0 1rem; }
  .footer p.copywrite {
    color: #8f9296;
    font-size: 0.875rem;
    margin: 0; }
  .footer .links a {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 3rem 0 2rem;
    margin: 0; }
    .footer .links a::after {
      content: "•";
      padding: 0 0.4rem 0 0.8rem; }
    .footer .links a:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem; }
    .footer .links a:hover {
      color: #C1E120; }

#homefooter {
  width: 6%;
  margin-bottom: 5%; }

.hero {
  background: url("http://wallpoper.com/images/00/34/39/15/circuit-pcb_00343915.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh; }
  .hero:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .8; }
  .hero .intro {
    padding: 3rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  .hero h1 {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.5em;
    letter-spacing: -0.025em;
    font-weight: 300;
    text-align: center; }
  .hero p {
    color: #fff;
    line-height: 1.75em;
    font-weight: 200;
    text-align: center;
    margin-bottom: 2rem; }
  .hero .tech-img {
    background: url("http://static.pexels.com/wp-content/uploads/2015/02/apple-hand-iphone-6-4322-525x350.jpg") no-repeat center center;
    background-size: cover;
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    display: block;
    margin: 0 auto; }
  @media only screen and (min-width: 40.063em) {
    .hero .tech-img {
      height: 18rem;
      width: 18rem; }
    .hero h1 {
      padding-top: 4.5rem;
      text-align: right;
      font-size: 2.5rem; }
    .hero p {
      text-align: right; } }

#listViewRow {
  font-size: 20px; }

.row {
  max-width: 100%; }

.name {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1;
  margin: 0 0 1rem 0;
  color: #fff; }
  .name i {
    color: #8CC1A7;
    margin-right: 0.5rem; }
  @media only screen and (min-width: 40.063em) {
    .name {
      float: left; } }

.menu {
  background-color: transparent;
  padding: 1.5rem 3rem;
  height: auto; }
  .menu .inline-list {
    text-align: center; }
    .menu .inline-list li {
      float: none;
      display: inline-block; }
    .menu .inline-list a {
      color: #fff;
      padding-bottom: 0.5rem; }
      .menu .inline-list a:hover {
        color: #C1E120;
        transition: all .3s ease-in-out; }
    .menu .inline-list .active a {
      color: #8CC1A7; }
  .menu .account {
    position: absolute;
    top: 3%;
    right: 3%; }
    .menu .account a, .menu .account i {
      color: #fff; }
  @media only screen and (min-width: 40.063em) {
    .menu {
      height: 5rem; }
      .menu .inline-list {
        margin: 0 0 0 1.5rem; }
      .menu a:hover {
        border-bottom: 2px solid #8CC1A7; } }
  .menu .account-action {
    float: right;
    margin: -.75rem 0 0 0; }
    .menu .account-action li {
      margin-left: .2rem; }
    .menu .account-action a {
      padding: 0.75rem 1rem; }
    .menu .account-action a.signup {
      font-weight: bold;
      background-color: transparent;
      border-radius: 3px;
      border: #C1E120 solid 1px; }

.loginBody {
  background-image: url("images/login2new.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; }

.hero {
  background: url("images/lightwoodDesktop.jpeg");
  background-size: cover;
  height: 50vh;
  overflow: hidden; }
  .hero h1 {
    color: #fff;
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.footer {
  background-color: #003366;
  text-align: center;
  font-size: 1.2rem;
  opacity: 0.98;
  border-top: solid #C1E120 1px; }
  .footer p.slogan {
    color: #8d9093;
    font-size: 1.8rem;
    margin: 0 0 1rem; }
  .footer p.copywrite {
    color: #8f9296;
    font-size: 0.875rem;
    margin: 0; }
  .footer p img {
    max-width: 10%; }
  .footer .links a {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 3rem 0 2rem;
    margin: 0; }
    .footer .links a:hover {
      color: #C1E120; }
    .footer .links a::after {
      content: "•";
      padding: 0 0.4rem 0 0.8rem; }
    .footer .links a:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem; }

.row {
  max-width: 100%; }

.menu {
  background-color: transparent;
  padding: 1.5rem 3rem;
  height: auto; }
  .menu .inline-list {
    text-align: center; }
    .menu .inline-list li {
      float: none;
      display: inline-block; }
    .menu .inline-list a {
      color: #fff;
      padding-bottom: 0.5rem; }
      .menu .inline-list a:hover {
        color: #C1E120;
        transition: all .3s ease-in-out; }
    .menu .inline-list .active a {
      color: #C1E120; }
  .menu .account {
    position: absolute;
    top: 3%;
    right: 3%; }
    .menu .account a, .menu .account i {
      color: #fff; }
  @media only screen and (min-width: 40.063em) {
    .menu {
      height: 5rem; }
      .menu .inline-list {
        float: left;
        margin: 0 0 0 1.5rem; }
      .menu a:hover {
        border-bottom: 2px solid #C1E120; } }
  .menu .account-action {
    float: right;
    margin: -.75rem 0 0 0; }
    .menu .account-action li {
      margin-left: .2rem; }
    .menu .account-action a {
      padding: 0.75rem 1rem; }
    .menu .account-action a.signup {
      font-weight: bold;
      background-color: transparent;
      border: solid 1px #C1E120; }

.name {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1;
  margin: 0 0 1rem 0;
  color: #fff; }
  .name i {
    color: #87D37C;
    margin-right: 0.5rem; }
  @media only screen and (min-width: 40.063em) {
    .name {
      float: left; } }

.header.panel {
  margin: 3rem auto;
  border: 2px solid #C1E120;
  background: #fff; }
  .header.panel p {
    font: 1.5rem "Avenir Next";
    padding: 1.2rem 2rem 2rem;
    margin-top: -1.25rem; }
    .header.panel p span {
      color: #548FCE;
      text-transform: uppercase;
      font-size: 75%;
      font-weight: bold; }
  .header.panel .sign {
    background: #fff;
    width: 150px;
    height: 2.4rem;
    border: 2px solid #C1E120;
    position: relative;
    top: -2.5rem;
    margin: auto;
    font-weight: 400; }
    .header.panel .sign h1 {
      text-transform: uppercase;
      font: bolder 0.875rem "Avenir Next";
      letter-spacing: 3px;
      color: #003366;
      font-size: 70%;
      text-align: center;
      line-height: 2rem;
      background-color: #fff;
      height: 98%; }

#description {
  background-color: #003366;
  opacity: 0.95; }

.service {
  font-family: "Avenir Next";
  background-color: #548FCE;
  width: 100%;
  height: 320px;
  margin: 80px 0;
  text-align: center;
  border: 3px solid #003366;
  border-radius: 2%;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .service .service-icon-box {
    position: relative;
    top: 100px;
    display: inline-block;
    margin-bottom: 40px;
    padding: 10px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .service .service-heading {
    color: #fff;
    font-family: "Avenir Next";
    position: relative;
    top: 80px;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .service .service-description {
    font-weight: 500;
    color: #fff;
    width: 80%;
    margin: 0 auto;
    opacity: 0;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  .service .service-icon-box > img.service-icon {
    width: 45px; }
  .service:hover {
    border-color: #548FCE; }
  .service:hover .service-icon-box {
    top: -30px; }
  .service:hover .service-heading {
    top: -30px; }
  .service:hover .service-description {
    font-size: 1rem;
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

.row {
  display: inline-block;
  margin-top: -4%; }

.service {
  display: inline-block; }

#onboarding {
  opacity: 0.95; }

nav {
  z-index: 1; }

.bg-skew-main {
  height: 65%;
  background: dodgerblue;
  margin-top: -100px; }

.content .intro {
  width: 80%;
  margin: 0 auto; }
  .content .intro h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    margin: 0 auto; }
    .content .intro h1 span {
      color: red; }
  .content .intro p {
    color: #fff;
    text-transform: none;
    text-align: center;
    margin-bottom: 9rem; }

.content h2,
.content h3 {
  padding-top: 1%;
  font-family: "Avenir Next";
  text-align: center;
  color: #003366;
  margin-bottom: 1rem; }

.content p {
  color: #fff;
  text-align: left; }

.bg-skew-contact {
  background: #fff;
  margin-top: -.7%;
  opacity: 0.95;
  margin-top: -2.9%; }
  .bg-skew-contact .social li a {
    color: #fff;
    text-decoration: underline; }

@media only screen and (min-width: 40.063em) and (max-width: 64.062em) {
  .intro p.subheader {
    margin-bottom: 14rem; }
  .intro h2 {
    margin: 2rem; } }

@media only screen and (min-width: 64.063em) {
  .intro p.subheader {
    margin-bottom: 18rem; } }

#go {
  color: #C1E120; }

.button-group {
  position: relative;
  display: inline-block;
  margin-left: 37%; }
  .button-group .small.button.primary.radius {
    color: #fefefe;
    border-radius: 10px; }
  .button-group .small.button.success.radius {
    border-radius: 10px; }

.getstartedbutton {
  margin-left: 44%;
  margin-right: 42%; }

#registerbutton {
  font-family: "Avenir Next";
  font-weight: 600;
  border: solid 1.5px #C1E120;
  background-color: transparent;
  color: #003366;
  border-radius: 10%; }
  #registerbutton:hover {
    transform: scale(1.1); }

#signinbutton {
  font-family: "Avenir Next";
  font-weight: 600;
  border: solid 1.5px #548FCE;
  background-color: transparent;
  color: #003366;
  border-radius: 10%; }
  #signinbutton:hover {
    transform: scale(1.1); }

.image-wrapper {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.04);
  overflow: hidden;
  position: relative;
  text-align: center;
  border-radius: 4px; }

.image-overlay-content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0; }

.overlay-fade-in p {
  letter-spacing: 0.15em;
  color: #f4f4f4;
  font-size: 28px;
  opacity: 0;
  transition: all 0.2s linear; }

.overlay-fade-in img {
  transition: all 0.2s linear; }

.overlay-fade-in .image-overlay-content {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out; }

.overlay-fade-in h2 {
  color: #f2f2f2;
  font-size: 1.8rem;
  margin-top: 40%;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  background: rgba(0, 0, 0, 0.7); }

.overlay-fade-in .button {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #FFF;
  color: #222;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000;
  position: relative;
  border: 1px solid #999;
  opacity: 0;
  transition: all 0.2s ease-in-out; }
  .overlay-fade-in .button:hover {
    box-shadow: 0 0 5px #000; }

.overlay-fade-in:hover img {
  transform: scale(1.2); }

.overlay-fade-in:hover .image-overlay-content {
  opacity: 1; }

.overlay-fade-in:hover h2, .overlay-fade-in p, .overlay-fade-in .button {
  opacity: 1; }

.overlay-fade-in:hover p {
  transition-delay: 0.1s; }

.overlay-fade-in:hover .button {
  transition-delay: 0.2s; }

.overlay-slide-in-left img {
  transition: all 0.3s ease-in-out; }

.overlay-slide-in-left .image-overlay-content {
  background-image: url(http://www.awwwards.com/awards/images/2015/04/pattern.jpg);
  background-color: rgba(0, 0, 0, 0.3);
  transform: translateX(-110%);
  opacity: 1;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 0 7px #ccc; }

.overlay-slide-in-left h2 {
  font-size: 1.8rem;
  background: rgba(255, 255, 255, 0.7);
  margin-top: 40%;
  color: #000;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); }

.overlay-slide-in-left p {
  opacity: 0;
  color: #333;
  transition: all 0.2s linear; }

.overlay-slide-in-left .button {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000;
  position: relative;
  border-radius: 7px; }
  .overlay-slide-in-left .button:hover {
    background-color: #444; }

.overlay-slide-in-left:hover .image-overlay-content {
  transform: translateX(0px); }

.overlay-slide-in-left:hover img {
  transform: translateX(80%);
  transition-delay: 0.1s; }

.overlay-slide-in-left:hover p {
  opacity: 1;
  transition-delay: 0.4s; }

.overlay-fade-in-new-background .button {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 0 0 1px #000;
  position: relative;
  opacity: 0;
  transition: all 0.2s ease-in-out; }
  .overlay-fade-in-new-background .button:hover {
    box-shadow: 0 0 5px #fff; }

.overlay-fade-in-new-background p {
  font-size: 28px; }

.overlay-fade-in-new-background .image-overlay-content {
  opacity: 0;
  background-image: url(http://subtlepatterns.com/patterns/gplaypattern.png);
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.4s ease-in-out; }

.overlay-fade-in-new-background h2 {
  color: #000;
  font-size: 1.6rem;
  margin-top: 30%;
  opacity: 0;
  transition: all 0.2s ease-in-out; }

.overlay-fade-in-new-background p {
  opacity: 0;
  transition: all 0.2s linear; }

.overlay-fade-in-new-background img {
  transition: all 0.2s ease-in-out; }

.overlay-fade-in-new-background:hover img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
  transform: scale(1.5); }

.overlay-fade-in-new-background:hover .image-overlay-content {
  opacity: 1; }

.overlay-fade-in-new-background:hover h2, .overlay-fade-in-new-background p, .overlay-fade-in-new-background .button {
  opacity: 1; }

.overlay-fade-in-new-background:hover p {
  transition-delay: 0.1s; }

.overlay-fade-in-new-background:hover .button {
  transition-delay: 0.2s; }

.header.panel {
  margin: 3rem auto;
  border: 2px solid #444;
  background: #fff; }
  .header.panel p {
    font: 1.1rem "Avenir Next";
    padding: 1rem 2rem 2rem;
    margin-top: -1.25rem; }
    .header.panel p span {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 75%;
      font-weight: bold; }
  .header.panel .sign {
    background: #fff;
    width: 150px;
    height: 2.4rem;
    border: 2px solid #C1E120;
    position: relative;
    top: -2.5rem;
    margin: auto; }
    .header.panel .sign h1 {
      text-transform: uppercase;
      font: bolder 0.875rem "Avenir Next";
      letter-spacing: 3px;
      color: #003366;
      font-size: 70%;
      text-align: center;
      line-height: 2rem; }

#spanishFlag {
  margin-left: 20%; }

#frenchFlag {
  margin-right: 20%; }

.image-wrapper.overlay-fade-in {
  border: solid 4px #548FCE; }

#languageLevelRowFrench .small-9.small-centered.columns {
  margin-left: 7%; }

#languageLevelRowFrench .frenchButtons {
  margin-right: 3%; }
  #languageLevelRowFrench .frenchButtons:hover {
    transform: scale(1.1); }

#languageLevelRowSpanish .small-9.small-centered.columns {
  margin: 0;
  margin-left: 2%; }

#languageLevelRowSpanish .spanishButtons {
  margin-right: 3%; }
  #languageLevelRowSpanish .spanishButtons:hover {
    transform: scale(1.1); }

#topCategoryRow {
  background-color: #FFF;
  width: 100%;
  margin-bottom: 0%; }

#bottomCategoryRow {
  background-color: #FFF;
  width: 100%;
  margin-bottom: 0%; }

#categoryBoxesArts, #categoryBoxesSports, #categoryBoxesBusiness {
  background-color: #548FCE;
  border: solid 3px #003366; }

#categoryBoxesTech {
  background-color: #548FCE;
  border: solid 3px #003366;
  margin-left: 29.8%;
  margin-bottom: 3%; }

#categoryBoxesPolitics {
  background-color: #548FCE;
  border: solid 3px #003366;
  margin-left: 20%; }

input[data-toggle] {
  display: none; }

input[data-toggle]:checked + label,
input[data-toggle]:checked + label:active {
  background-color: salmon;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05); }

.button-group.toggle li:not(first-child) {
  margin: 0 -0.9rem; }

.articlebody {
  background-image: url("images/login2new.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; }

.translated {
  text-decoration: underline;
  cursor: pointer;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-color: yellow;
  color: #000;
  font-family: "Avenir Next";
  font-size: 100%; }

#headline {
  font-size: 215%;
  text-align: center; }

#articletitle {
  border: solid 1px transparent;
  padding: 4px 1px 1px;
  width: 100%; }

#articletext {
  color: #000;
  font-family: "Avenir Next";
  font-weight: 500; }

.sub-nav {
  background-color: #f2f2f2;
  padding: 0.5rem 0.5rem 0.5rem 0; }
  .sub-nav li {
    color: #999999;
    font-size: 0.77778rem;
    padding-left: 0.88889rem; }
    .sub-nav li.active a {
      border-radius: 3px;
      background: #008CBA;
      color: #fff;
      cursor: default;
      font-weight: normal;
      padding: 0.16667rem 0.88889rem; }

#articleholder {
  width: 90%;
  overflow: scroll; }

#articlecontent {
  text-align: left;
  padding: 7%; }

#articlebox {
  width: 78%;
  border: solid 2px #9e9e9e;
  background-color: #f2f2f2;
  margin-top: 0;
  height: 700px;
  overflow: scroll; }

body {
  background-image: url("images/login2new.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  width: 100%; }
