.center.row {
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  max-width: 500px; }

.signup-panel {
  padding: 15px; }

.signup-panel i {
  font-size: 30px;
  line-height: 50px;
  color: #999; }

.signup-panel form input, .signup-panel form span {
  height: 50px; }

.signup-panel .welcome {
  font-size: 26px;
  text-align: center;
  margin-left: 0; }

.signup-panel .button {
  margin-left: 35%; }

section.active {
  padding-top: 75px !important; }

p.title {
  border-bottom: 1px solid #cccccc !important; }

.content {
  height: 450px; }

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
  font-weight: 200;
  font-size: 20px; }

.parallax-background {
  background-color: #0078A0;
  height: 620px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  width: 100%; }

.intro-text {
  font-size: 50px;
  color: #fff;
  text-align: center;
  margin-top: 15%; }

.parallax-content {
  max-width: 100%;
  position: relative;
  top: 500px;
  padding: 50px;
  font-size: 20px;
  background-color: #fff; }

.signup-panel {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 30px; }
  .signup-panel i {
    font-size: 30px;
    line-height: 50px;
    color: #999; }
  .signup-panel form input, .signup-panel form span {
    height: 50px; }
  .signup-panel .welcome {
    font-size: 26px;
    text-align: center;
    margin-left: 0; }
  .signup-panel p {
    font-size: 13px;
    font-weight: 200;
    margin-left: 25%; }
  .signup-panel .button {
    margin-left: 35%; }

.profile-card {
  padding: 1rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 2rem 0;
  background-color: #fff; }
  .profile-card img {
    width: 8rem;
    display: block;
    margin: 2rem auto;
    text-align: center;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #888888; }
  .profile-card .profile-info {
    padding: 1rem; }
    .profile-card .profile-info h4 {
      margin-top: 0;
      text-align: center;
      text-transform: uppercase; }
    .profile-card .profile-info h5 {
      text-align: center; }
    .profile-card .profile-info a {
      text-align: center;
      margin-left: 38%; }
    .profile-card .profile-info p {
      text-align: center; }
    .profile-card .profile-info .inline-list {
      text-align: center;
      margin-bottom: 1rem; }
      .profile-card .profile-info .inline-list li {
        float: none;
        display: inline-block; }
      .profile-card .profile-info .inline-list i.fi-social-facebook {
        font-size: 1.5rem;
        color: #3b5998; }
        .profile-card .profile-info .inline-list i.fi-social-facebook:hover {
          transform: scale(1.5);
          transition: all .5s ease-in-out; }
      .profile-card .profile-info .inline-list i.fi-social-twitter {
        font-size: 1.5rem;
        color: #55acee; }
        .profile-card .profile-info .inline-list i.fi-social-twitter:hover {
          transform: scale(1.5);
          transition: all .5s ease-in-out; }
      .profile-card .profile-info .inline-list i.fi-social-linkedin {
        font-size: 1.5rem;
        color: #0077b5; }
        .profile-card .profile-info .inline-list i.fi-social-linkedin:hover {
          transform: scale(1.5);
          transition: all .5s ease-in-out; }
      .profile-card .profile-info .inline-list i.fi-social-github {
        font-size: 1.5rem;
        color: #333; }
        .profile-card .profile-info .inline-list i.fi-social-github:hover {
          transform: scale(1.5);
          transition: all .5s ease-in-out; }
      .profile-card .profile-info .inline-list i.fi-social-youtube {
        font-size: 1.5rem;
        color: #cc181e; }
        .profile-card .profile-info .inline-list i.fi-social-youtube:hover {
          transform: scale(1.5);
          transition: all .5s ease-in-out; }

.full-width {
  max-width: 1400px; }

.footer {
  background-color: #2980b9;
  padding: 2rem 4rem;
  text-align: center;
  color: #fff; }
  .footer i {
    font-size: 100px; }

.footer h4 {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 2.5rem;
  margin-bottom: 10px; }

.footer a,
.footer p {
  font-weight: 300;
  font-size: 0.8em;
  color: #fff; }

@media only screen and (min-width: 40.063em) {
  .footer .columns:nth-child(n+2) {
    border-left: 1px solid #b3b3b3;
    min-height: 280px; } }

.footer-links {
  list-style-type: none; }
  .footer-links li {
    margin-top: 0.5em; }
