

<!-- BEGIN PARALAX HOMEPAGE CODE -->

<div class="parallax-background">
  <!-- Begin code for globe menu  -->

  <!-- END GLOBE MENU CODE -->
    <div class="intro-text">
      <a href="#"><img src="images/O(white).png" alt="earth" class="homeglobe" /></a>
      <img src="images/arrow.png" alt="arrow" class="homearrow" />

    </div>
</div>

<div class="parallax-content">
    <p>Lingo has created a way for our users to enhance their language skills while reading the news. As a member of Lingo, you will be able to ready partially translated articles in the language of your choice. Based on the frequency of your visits to Lingo, we'll increase the dificulty of the words that are translated. </p>

<!-- BEGIN ONBOARDING SECTION -->




<!-- <section class="hero">
  <div class="row intro">
    <div class="small-centered medium-uncentered medium-6 large-7 columns">
      <h1>Truth? What truth?</h1>
      <p>Don't you want to take a leap of faith? Or become an old man, filled with regret, waiting to die alone!</p>
    </div>
    <div class="small-centered medium-uncentered medium-6 large-5 columns">
      <div class="tech-img"></div>
    </div>
  </div>
</section> -->

<!-- END ONBOARDING SECTION -->

<!-- BEGIN FOOTER HTML -->

        <footer class="footer">
            <div class="row full-width">
                <div class="small-12 medium-3 large-4 columns">
                    <i class="fi-laptop"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum maiores alias ea sunt facilis impedit fuga dignissimos illo quaerat iure in nobis id quos, eaque nostrum! Unde, voluptates suscipit repudiandae!</p>
                </div>
                <div class="small-12 medium-3 large-4 columns">
                    <i class="fi-html5"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit impedit consequuntur at! Amet sed itaque nostrum, distinctio eveniet odio, id ipsam fuga quam minima cumque nobis veniam voluptates deserunt!</p>
                </div>
                <div class="small-6 medium-3 large-2 columns">
                    <h4>Want to learn more?</h4>
                    <ul class="footer-links">
                        <li><a href="#team">Meet The Team</a></li>
                        <ul>
                </div>

            </div>
        </footer>

</div>
