<div class="articlebody">

    <!-- ARTICLE HEADER -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
    <nav class="menu" id="articleMenuNav">
        <a href="#login"><img src="images/O(white).png" alt="earth" class="homeglobe" /></a>
        <ul class="inline-list">
        </ul>
        <ul class="inline-list hide-for-small-only account-action">
            <li><a href="#preferences" data-reveal-id="myModal">Preferences</a></li>
            <li><a href="#home" data-reveal-id="myModal" ng-click="signOut()">Sign Out</a></li>
            <li class=""><a class="signup" href="#home" data-reveal-id="myModal">Home</a></li>
        </ul>
    </nav>
    <!-- END ARTICLE HEADER -->

    <!-- SECOND NAV -->
    <ul class="sub-nav menu" role="navigation" title="Filter Menu List">
        <li class="sub-nav-title">Filter:</li>
        <li class="active"><span class="show-for-sr">You're viewing </span><a href="#news" ng-click='clickedListView()'>Full Article</a></li>
        <li ><a href="#news/list" ng-click='clickedFullArticle()'>By Headline</a></li>
    </ul>



    <!-- END SECOND NAV -->

    <!-- ARTICLE BODY -->
    <div class="row" id="articleRow">

        <div class="small-8 medium-6 large-9 small-centered columns" id="articleholder" >

          <div id="articletitle">
              <h1 id="headline">{{currentArticle.title}}</h1>
              <div class="pagination">
                  <button ng-click="goback()">
                      <</button>
                          <span>{{pageNumber}}</span>
                          <button ng-click="goforward()">></button>
              </div>
          </div>

            <div class="header panel" id="articlebox">


                <p id="articlecontent"><span>{{currentArticle.author}}</span>

                  
                    <span ng-bind-html="makeArticleSafe(currentArticle.content)" id="articletext"></span>

                </p>


            </div>
        </div>
    </div>

    <!-- SECOND FOOTER -->
    <ul class="sub-nav menu" role="navigation" title="Filter Menu List">
        <li class="sub-nav-title">You're now viewing articles about:</li>
        <li ng-show="specificPref.arts">Arts</li>
        <li ng-show="specificPref.sports">Sports</li>
        <li ng-show="specificPref.technology">Technology</li>
        <li ng-show="specificPref.business">Business</li>
        <li ng-show="specificPref.politics">Politics</li>
        <li><a href="#preferences" >Not seeing what you like?</a></li>
    </ul>
    <!-- SECOND FOOTER  -->
    <!-- ARTICLE FOOTER -->


    <footer class="footer" id="articlesFooter">
        <div class="row">
            <div class="small-12 columns">
                <img src="images/O(white).png" alt="" id="homefooter" />
                <p class="links">
                    <a href="#home">Home</a>
                    <a href="#team">Meet The Team</a>
                    <a href="#team" ng-click="signOut()">Sign Out</a>
                    <a href="#preferences">Preferences</a>
                </p>
                <p class="copywrite">The Iron Yard © 2016</p>
            </div>
        </div>
    </footer>
    <!-- END ARTICLE FOOTER -->

</div>
