<body class="loginBody" ng-cloak>


<!-- NAV BAR -->

<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

<nav class="menu">
    <a href="#login"><img src="images/O(white).png" alt="earth" class="homeglobe" /></a>
    <ul class="inline-list">
    </ul>
    <ul class="inline-list hide-for-small-only account-action">
        <li class=""><a class="signup" href="#home" data-reveal-id="myModal">Home</a></li>
    </ul>

</nav>
    <!-- END NAV BAR -->
<div id="loginForm" ng-cloak>
    <div class="row">
       <div class="small-6 large-centered columns">
            <div class="signup-panel">
                <p class="welcome"> <img src="images/lingowhite.png" alt="" /></p>
                <form>
                    <div class="row collapse">
                        <div class="small-2  columns">
                            <span class="prefix"><i class="fi-torso-female"></i></span>
                        </div>
                        <div class="small-10  columns">
                            <input section="text" placeholder="username" ng-model="userInput">
                        </div>
                    </div>
                    <div class="row collapse">
                        <div class="small-2 columns ">
                            <span class="prefix"><i class="fi-lock"></i></span>
                        </div>
                        <div class="small-10 columns ">
                            <input section="password" type= "password" placeholder="password" ng-model="userPassword">
                        </div>
                    </div>
                </form>
                <div class="button-group" id="loginPageButtons">
                    <button href="#preferences" class="small button primary radius" ng-click="signUp($event)"><a href="#preferences">Register</a></button>
                    <button class="small button success radius" ng-click="signIn($event)"><a href="#">Sign In</a></button>
                </div>
                <!-- <a href="#" class="button" ng-click="signUpForm()">Sign Up! </a>
        <p>Already have an account? <a href="#" ng-click="sendToLogin()">Login here &raquo</a></p> -->
            </div>
        </div>
    </div>
</div>
<!-- BEGIN FOOTER  -->

<footer class="footer">
  <div class="row">
    <div class="small-12 columns">
      <p class="slogan"><img src="images/O(white).png" alt="" /></p>
      <p class="links">
        <a href="#home">Home</a>
        <a href="#team">Meet The Team</a>
        <a href="#home">Sign Out</a>
      </p>
      <p class="copywrite">The Iron Yard © 2016</p>
    </div>
  </div>
</footer>
</body>
