<body class="prefBody" ng-cloak>

    <!-- NAV BAR -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

    <nav class="menu" id="prefNavMenu">
        <a href="#login"><img src="images/O(white).png" alt="earth" class="homeglobe" /></a>
        <ul class="inline-list">
        </ul>
        <ul class="inline-list hide-for-small-only account-action">
            <li><a href="#home" data-reveal-id="myModal" ng-click="signOut()">Sign Out</a></li>
            <li class=""><a class="signup" href="#home" data-reveal-id="myModal">Home</a></li>
        </ul>
    </nav>
    <!-- END NAV BAR -->

    <!-- PREFERENCES INSTRUCTIONS -->
    <div class="prefs">
        <h2 id="titlepref">Preferences</h2>
    </div>
    <div class="row" id="languageinstructions">

        <div class="small-12 medium-10 large-12 large-centered columns">

            <div class="header panel">
                <div class="sign">
                    <h1>Step 1:</h1>
                </div>
                <p> Choose the language you'd like to learn and the level of difficulty</p>
            </div>

        </div>
    </div>
    <!-- END PREFERENCES INSTRUCTIONS  -->

    <!-- LANGUAGE SELECTOR -->

    <div class="languageselector">
        <div class="row" id="languageSelectorRow">

            <!-- SPANISH FLAG/LANGUAGE SELECTION -->
            <div class="small-3 columns" id="spanishFlag">
                <div class="image-wrapper overlay-fade-in">
                    <img src="images/spanish.png" />
                    <div class="image-overlay-content">
                    </div>
                </div>
                <div class="row" id="languageLevelRowSpanish"> <!-- SPANISH LEVEL BUTTONS -->
                    <div class="small-9 small-centered columns">

                        <div class="button-group round toggle" data-toggle="buttons-radio">
                            <div class="spanishButtons">
                                <input ng-click='toggleSpanishEasyLevel()' type="radio" id="spanlevel1" name="r-group" data-toggle="button">
                                <label id="languageButtonLabel" class="button" for="spanlevel1">Beginner</label>
                            </div>
                            <div class="spanishButtons">
                                <input ng-click='toggleSpanishMediumLevel()' type="radio" id="spanlevel2" name="r-group" data-toggle="button">
                                <label id="languageButtonLabel" class="button" for="spanlevel2">Intermediate</label>
                            </div>
                            <div class="spanishButtons">
                                <input ng-click='toggleSpanishHardLevel()' type="radio" id="spanlevel3" name="r-group" data-toggle="button">
                                <label id="languageButtonLabel" class="button" for="spanlevel3">Expert</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END SPANISH FLAG/LANGUAGE SELECTION -->

            <!-- FRENCH FLAG/LANGUAGE SELECTION -->
            <div class="small-3 columns" id="frenchFlag">
                <div class="image-wrapper overlay-fade-in">
                    <img src="images/french.png" />
                    <div class="image-overlay-content">
                    </div>
                </div>

                <div class="row" id="languageLevelRowFrench"> <!-- FRENCH LEVEL BUTTONS -->
                    <div class="small-9 small-centered columns">

                        <div class="button-group round toggle" data-toggle="buttons-radio">
                            <div class="frenchButtons">
                                <input ng-click='toggleFrenchEasyLevel()' type="radio" id="frenchlevel1" name="r-group" data-toggle="button">
                                <label id="languageButtonLabel" class="button" for="frenchlevel1">Beginner</label>
                            </div>
                            <<div class="frenchButtons">
                                <input ng-click='toggleFrenchMediumLevel()' type="radio" id="frenchlevel2" name="r-group" data-toggle="button">
                                <label id="languageButtonLabel" class="button" for="frenchlevel2">Intermediate</label>
                            </div>
                            <<div class="frenchButtons">
                                <input ng-click='toggleFrenchHardLevel()' type="radio" id="frenchlevel3" name="r-group" data-toggle="button">
                                <label id="languageButtonLabel" class="button" for="frenchlevel3">Expert</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END FRENCH FLAG/LANGUAGE SELECTION -->
        </div>
    </div>
    <!-- END LANGUAGE SELECTOR -->

    <!--  BEGIN TOPIC SELECTION INSTRUCTIONS -->

    <div class="row" id="topicinstructions">
        <div class="small-12 medium-10 large-12 large-centered columns">

            <div class="header panel">
                <div class="sign">
                    <h1>Step 2:</h1>
                </div>
                <p> Choose the type of news you'd like to hear about</p>
            </div>

        </div>
    </div>

    <!--  ENDTOPIC SELECTION INSTRUCTIONS -->

    <div class="small-up-5 columns" id="topCategoryRow">

        <!-- POLITICS SETTING -->
        <div class="column" id="categoryBoxesPolitics">
            <img class="thumbnail" src="images/capitol.png">
            <div ng-if="UserPreferences.politics">
                <h5>Politics</h5>
                <button id="newsprefbutton" ng-click="togglePolitics(false)">Turn Off</button>
            </div>
            <div ng-if="!UserPreferences.politics">
                <h5>Politics</h5>
                <button id="newsprefbutton" ng-click="togglePolitics(true)">Turn On</button>
            </div>
        </div>

        <!-- ARTS SETTING -->
        <div class="column" id="categoryBoxesArts">
            <img class="thumbnail" src="images/color-filters.png">
            <div ng-if="UserPreferences.arts">
                <h5>Arts</h5>
                <button id="newsprefbutton" ng-click="toggleArts(false)">Turn Off</button>
            </div>
            <div ng-if="!UserPreferences.arts">
                <h5>Arts</h5>
                <button id="newsprefbutton" ng-click="toggleArts(true)">Turn On</button>
            </div>
        </div>

        <!-- SPORTS SETTING -->
        <div class="column" id="categoryBoxesSports">
            <img class="thumbnail" src="images/american-football.png">
            <div ng-if="UserPreferences.sports">
                <h5>Sports</h5>
                <button id="newsprefbutton" ng-click="toggleSports(false)">Turn Off</button>
            </div>
            <div ng-if="!UserPreferences.sports">
                <h5>Sports</h5>
                <button id="newsprefbutton" ng-click="toggleSports(true)">Turn On</button>
            </div>
        </div>
    </div>

    <div class="small-up-5 columns" id="bottomCategoryRow">
        <!-- TECH PREFERENCE SETTING -->
        <div class="column" id="categoryBoxesTech">
            <img class="thumbnail" src="images/computer-mouse.png">
            <div ng-if="UserPreferences.technology">
                <h5>Technology</h5>
                <button id="newsprefbutton" ng-click="toggleTechnology(false)">Turn Off</button>
            </div>
            <div ng-if="!UserPreferences.technology">
                <h5>Technology</h5>
                <button id="newsprefbutton" ng-click="toggleTechnology(true)">Turn On</button>
            </div>
        </div>

        <!-- BUSINESS SETTING -->
        <div class="column" id="categoryBoxesBusiness">
            <img class="thumbnail" src="images/suitcase.png">
            <div ng-if="UserPreferences.business">
                <h5>Business</h5>
                <button id="newsprefbutton" ng-click="toggleBusiness(false)">Turn Off</button>
            </div>
            <div ng-if="!UserPreferences.business">
                <h5>Business</h5>
                <button id="newsprefbutton" ng-click="toggleBusiness(true)">Turn On</button>
            </div>
        </div>
    </div>
    <!-- BEGIN LINGO (SAVE) -->

    <div class="row" id="topicinstructions">
        <div class="small-12 medium-10 large-12 large-centered columns">

            <div class="header panel">
                <div class="sign">
                    <h1>Step 3:</h1>
                </div>
                <div class="saveButton">
                    <button href="#" ng-click='savePref()'><a href="#" id="savePreferences">ling<span id="prefSaveBold">GO</span></a></button>

                </div>
            </div>

        </div>
    </div>
    <!-- END LINGO(SAVE) -->
    <!-- BEGIN FOOTER  -->
    <footer class="footer">
        <div class="row">
            <div class="small-12 columns">
                <img src="images/O(white).png" alt="" id="homefooter" />
                <p class="links">
                    <a href="#home">Home</a>
                    <a href="#team">Meet The Team</a>
                    <a href="#team" ng-click="signOut()">Sign Out</a>
                </p>
                <p class="copywrite">The Iron Yard © 2016</p>
            </div>
        </div>
    </footer>
</body>
