<!-- this adds Foundation Icon Fonts!! -->
<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

<div class="row">
    <div class="medium-6 columns">
        <div class="box">
            <div class="box-icon">
                <span class="fi-widget"></span>
            </div>
            <div class="info">
                <h4 class="text-center">Settings</h4>
                <!-- <ul class="tg-list">
                  <li class="tg-list-item">
                    <h4>Tech</h4>
                    <input ng-Model="userPrefObj" id="cb5" type="checkbox" class="tgl tgl-flip" />
                    <label value="prefCategory.technology" ng-click="pref(technology)" data-tg-off="Nope" data-tg-on="Yeah!" for="cb5" class="tgl-btn"></label>
                  </li>
                  <hr/>
                </ul> -->

                <input type="text" ng-model="UserPrefences.language">



                <!-- toggle our values of our user Object -->
                <div ng-if="UserPrefences.technology">
                    Tech:
                    <button ng-click="turnOffTech()">OFF</button>
                </div>
                <div ng-if="!UserPrefences.technology">
                    Tech:
                    <button ng-click="turnOnTech()">ON</button>
                </div>
                <div ng-if="UserPrefences.business">Business:
                    <button ng-click="turnOffBus()">OFF</button>
                </div>
                <div ng-if="!UserPrefences.business">Business:
                    <button ng-click="turnOnBus()">ON</button>
                </div>


                <button ng-click="logObj()">log</button>

                <a href="#" class="button">Save</a>
            </div>
        </div>
    </div>
